# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
.next/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated QR images
backend/generated_qr/

# Ignore .workspace
*.code-workspace